.hero {
    /* background-image: url("../assets/code.jpg"); */
    background-size: cover;
    color: black;
}

.bio {
    color: black;  
    background-color: red;
    height: 100px; 
    width: 150px;
    border: 5px;
    align-content: center;
    justify-content: center;
}

.name {
    font-size: x-large;
    font-weight: bolder;
    justify-content: center;

}

