
.hero {
    background-image: url("../assets/code.jpg");
    background-size: 100%;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    margin: .5rem;
    color: white;
    height: 500px;
}

.bio {
    background-color: black;
    width: 125px;
    border: 10px solid red;
    padding: 25px;
    margin: 20px;
    font-size: larger;
    font-weight: bolder;    
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
}


