.skills {
    background-color: black;
    width: 600px;
    border: 6px solid red;
    padding: 50px;
    margin: 20px;
    font-size: larger;
    font-weight: bolder;
    box-shadow: 5px 5px 5px whitesmoke;
    color: white;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
  }

.grid-container {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-column-gap: 5rem;
    grid-row-gap: 5rem;
    justify-content: center;
}